<div class="container-fluid">
  <div class="row border-bottom">
    <div class="col-10">
      <h5 class="text-danger">Excluir Beneficiário</h5>
    </div>
    <div class="col-2">
      <button class="btn btn-sm form-control text-light bg-primary" (click)="listar()">Listagem</button>
    </div>
  </div>
  <div class="row mt-3">
    <input readonly type="text" class="col-12 form-control" [(ngModel)]="beneficiario.nome" placeholder="nome...">
    <input readonly type="email" class="col-12 form-control" [(ngModel)]="beneficiario.email" placeholder="email...">
    <input readonly type="date" class="col-8 form-control" [(ngModel)]="beneficiario.data_nascimento"
      placeholder="Data de nascimento...">
    <input readonly class="col-4 form-control" [(ngModel)]="beneficiario.cpf" placeholder="cpf...">
    <div class="col-12 mt-3">
      <button class="btn btn-sm btn-primary text-light bg-danger float-right col-2" (click)="excluir()">Excluir</button>
    </div>
  </div>
</div>