body {
  padding-top: 56px;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.nav-item {
  cursor: pointer;
}
/* .back-image {
  background-attachment: fixed;
} */

/* .back-image:before {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(500px);
}

.back-image {
  background: inherit;
}

.back-image:before {
  background: inherit;
} */
