<div class="container-fluid">
  <div class="row border-bottom">
    <div class="col-10">
      <h5>Novo cliente</h5>
    </div>
    <div class="col-2">
      <button class="btn btn-sm form-control text-light bg-primary" (click)="listar()">Listagem</button>
    </div>
  </div>
  <div class="row mt-3">
    <input type="text" class="col-12 form-control" [(ngModel)]="cliente.nome" placeholder="nome...">
    <input type="email" class="col-12 form-control" [(ngModel)]="cliente.email" placeholder="email...">
    <input type="text" class="col-2 form-control" [(ngModel)]="cliente.cep" (change)="consultarCep($event)"
      placeholder="cep...">
    <select class="form-control col-2" [(ngModel)]="cliente.uf">
      <option *ngFor="let UF of listaUF" [ngValue]="UF.sigla">
        {{UF.nome}}
      </option>
    </select>
    <input class="col-8 form-control" [(ngModel)]="cliente.endereco" placeholder="endereço...">
    <input class="col-6 form-control" [(ngModel)]="cliente.cidade" placeholder="cidade...">
    <input class="col-6 form-control" [(ngModel)]="cliente.cpf_cnpj" placeholder="cpf/cnpj...">
    <div class="form-check col-2">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="cliente.pessoa_fisica">
      <label class="form-check-label" for="exampleCheck1">Pessoa física</label>
    </div>
    <div class="col-12 mt-3 border-bottom">
      <button class="btn btn-sm btn-primary text-light bg-success float-right col-2" (click)="salvar()">Salvar</button>
    </div>

    <div>
      <label>Telefones</label>
    </div>
    <div class="input-group mb-3 mt-3 col-12 border-bottom">
      <div class="input-group-append">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="whatsAppCheck" [(ngModel)]="telefoneCliente.whatsapp">
          <label class="form-check-label" for="whatsAppCheck">Whatsapp</label>
        </div>
        <input type="text" class="form-control" placeholder="Telefone..." [(ngModel)]="telefoneCliente.telefone">
        <input type="text" class="form-control" placeholder="Observação..." [(ngModel)]="telefoneCliente.observacao">
      </div>
      <button class="btn bg-warning text-dark" type="button" (click)="adicionarTelefone()"><i
          class="fa fa-sm fa-plus-circle "></i></button>
    </div>
  </div>

  <div class="row mt-3">
    <table class="table table-striped table-hover">
      <thead class="thead-light">
        <tr class="row">
          <th class="col-1" scope="col">Whatsapp</th>
          <th class="col-3" scope="col">Telefone</th>
          <th class="col-7" scope="col">Observação</th>
          <th class="col-1" scope="col">Excluir</th>
        </tr>
      </thead>
      <tbody>
        <div class="scrollable col-12">
          <tr class="row" *ngFor="let telefone of telefonesCliente">
            <td class="col-1 float-left">{{ telefone.whatsapp }}</td>
            <td class="col-3 float-left">{{ telefone.telefone }}</td>
            <td class="col-7 float-left">{{ telefone.observacao }}</td>
            <td class="col-1 float-left"><button class="btn btn-sm text-light bg-danger"
                (click)="excluirTelefone(telefone)">Excluir</button></td>
          </tr>
        </div>
      </tbody>

    </table>
  </div>

</div>