<div class="container-fluid">
  <div class="row border-bottom">
    <div class="col-10">
      <h5>Nova Administradora</h5>
    </div>
    <div class="col-2">
      <button class="btn btn-sm form-control text-light bg-primary" (click)="listar()">Listagem</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <input class="form-control" [(ngModel)]="administradora.nome">
    </div>
    <div class="col-12 mt-3">
      <button class="btn btn-sm btn-primary text-light bg-success float-right col-2" (click)="salvar()">Salvar</button>
    </div>
  </div>
</div>